In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('heart_failure_clinical_records_dataset.train.csv')


data

,DEATH_EVENT,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,1,75.000,1,246,0,15,0,127000.00,1.20,137,1,0,10
1,1,75.000,0,99,0,38,1,224000.00,2.50,134,1,0,162
2,1,60.667,1,104,1,30,0,389000.00,1.50,136,1,0,171
3,0,52.000,0,132,0,30,0,218000.00,0.70,136,1,1,112
4,1,94.000,0,582,1,38,1,263358.03,1.83,134,1,0,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,0,60.667,1,151,1,40,1,201000.00,1.00,136,0,0,172
235,0,58.000,0,582,1,35,0,122000.00,0.90,139,1,1,71
236,0,55.000,0,748,0,45,0,263000.00,1.30,137,1,0,88
237,0,44.000,0,582,1,30,1,263358.03,1.60,130,1,1,244
238,0,80.000,0,898,0,25,0,149000.00,1.10,144,1,1,87

In [3]:
y= data['DEATH_EVENT']
y

0      1
1      1
2      1
3      0
4      1
      ..
234    0
235    0
236    0
237    0
238    0
Name: DEATH_EVENT, Length: 239, dtype: int64

In [4]:
X= data.drop('DEATH_EVENT',axis=1)
X

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,75.000,1,246,0,15,0,127000.00,1.20,137,1,0,10
1,75.000,0,99,0,38,1,224000.00,2.50,134,1,0,162
2,60.667,1,104,1,30,0,389000.00,1.50,136,1,0,171
3,52.000,0,132,0,30,0,218000.00,0.70,136,1,1,112
4,94.000,0,582,1,38,1,263358.03,1.83,134,1,0,27
...,...,...,...,...,...,...,...,...,...,...,...,...
234,60.667,1,151,1,40,1,201000.00,1.00,136,0,0,172
235,58.000,0,582,1,35,0,122000.00,0.90,139,1,1,71
236,55.000,0,748,0,45,0,263000.00,1.30,137,1,0,88
237,44.000,0,582,1,30,1,263358.03,1.60,130,1,1,244
238,80.000,0,898,0,25,0,149000.00,1.10,144,1,1,87

In [5]:
#Train/Test Split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size = 0.2 )

In [6]:
train_X.insert(0,train_y.name,train_y)
train_X

,DEATH_EVENT,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
197,0,50.0,1,167,1,45,0,362000.00,1.00,136,0,0,187
150,1,65.0,0,157,0,65,0,263358.03,1.50,138,0,0,10
86,1,82.0,0,70,1,30,0,200000.00,1.20,132,1,1,26
96,0,45.0,0,582,1,38,1,263358.03,1.18,137,0,0,185
81,0,60.0,1,737,0,60,1,210000.00,1.50,135,1,1,95
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,1,58.0,1,60,0,38,0,153000.00,5.80,134,1,0,26
16,0,75.0,1,203,1,38,1,283000.00,0.60,131,1,1,74
208,0,73.0,1,1185,0,40,1,220000.00,0.90,141,0,0,213
107,1,53.0,1,91,0,20,1,418000.00,1.40,139,0,0,43
159,0,60.0,1,257,1,30,0,150000.00,1.00,137,1,1,245

In [7]:
test_X.insert(0,test_y.name, test_y)
test_X

,DEATH_EVENT,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
225,0,60.0,0,2261,0,35,1,228000.00,0.90,136,1,0,115
214,1,60.0,0,1896,1,25,0,365000.00,2.10,144,0,0,172
230,0,65.0,1,135,0,35,1,290000.00,0.80,134,1,0,194
138,1,65.0,1,160,1,20,0,327000.00,2.70,116,0,0,8
151,0,41.0,0,148,0,40,0,374000.00,0.80,140,1,1,68
82,0,60.0,1,2281,1,40,0,283000.00,1.00,141,0,0,187
180,0,45.0,1,130,0,35,0,174000.00,0.80,139,1,1,121
108,0,58.0,1,133,0,60,1,219000.00,1.00,141,1,0,83
121,0,51.0,0,582,1,40,0,221000.00,0.90,134,0,0,244
54,0,70.0,0,93,0,35,0,185000.00,1.10,134,1,1,208
56,0,50.0,0,1548,0,30,1,211000.00,0.80,138,1,0,108
58,0,78.0,1,64,0,40,0,277000.00,0.70,137,1,1,187
34,1,87.0,1,149,0,38,0,262000.00,0.90,140,1,0,14
186,0,53.0,0,207,1,40,0,223000.00,1.20,130,0,0,214
200,1,60.0,0,3964,1,62,0,263358.03,6.80,146,0,0,43
137,0,40.0,0,90,0,35,0,255000.00,1.10,136,1,1,212
104,0,72.0,0,211,0,25,0,274000.00,1.20,134,0,0,207
160,0,70.0,0,1202,0,50,1,358000.00,0.90,141,0,0,196
220,1,65.0,1,128,1,30,1,297000.00,1.60,136,0,0,20
176,1,65.0,1,258,1,25,0,198000.00,1.40,129,1,0,235
123,0,45.0,1,66,1,25,0,233000.00,0.80,135,1,0,230
26,1,85.0,0,5882,0,35,0,243000.00,1.00,132,1,1,72
89,0,45.0,1,1876,1,35,0,226000.00,0.90,138,1,0,88
177,0,55.0,1,2794,0,35,1,141000.00,1.00,140,1,0,206
127,1,90.0,1,60,1,50,0,226000.00,1.00,134,1,0,30
155,0,53.0,1,707,0,38,0,330000.00,1.40,137,1,1,209
193,0,42.0,0,5209,0,30,0,226000.00,1.00,140,1,1,87
29,0,50.0,0,250,0,25,0,262000.00,1.00,136,1,1,120
75,0,65.0,0,118,0,50,0,194000.00,1.10,145,1,1,200
157,1,70.0,0,582,0,20,1,263358.03,1.83,134,1,1,31
11,0,65.0,0,56,0,25,0,237000.00,5.00,130,0,0,207
167,0,78.0,0,224,0,50,0,481000.00,1.40,138,1,1,192
153,0,45.0,0,582,0,80,0,263358.03,1.18,137,0,0,63
147,0,75.0,0,582,0,40,0,263358.03,1.18,137,1,0,107
162,0,53.0,0,63,1,60,0,368000.00,0.80,135,1,0,22
141,0,70.0,0,97,0,60,1,220000.00,0.90,138,1,0,186
23,0,55.0,0,336,0,45,1,324000.00,0.90,140,0,0,74
194,1,57.0,1,129,0,30,0,395000.00,1.00,140,0,0,42
55,1,60.0,0,582,0,40,0,217000.00,3.70,134,1,0,96
77,1,65.0,0,146,0,20,0,162000.00,1.30,129,1,1,7
236,0,55.0,0,748,0,45,0,263000.00,1.30,137,1,0,88
59,1,95.0,1,371,0,30,0,461000.00,2.00,132,1,0,50
165,0,67.0,0,582,0,50,0,263358.03,1.18,137,1,1,76
171,0,50.0,1,54,0,40,0,279000.00,0.80,141,1,0,250
101,1,69.0,0,582,1,35,0,228000.00,3.50,134,1,0,30
111,1,50.0,0,124,1,30,1,153000.00,1.20,136,0,1,32
3,0,52.0,0,132,0,30,0,218000.00,0.70,136,1,1,112
124,0,70.0,0,88,1,35,1,236000.00,1.20,132,0,0,215

In [8]:
train_X.to_csv('train.csv',index=0)

In [9]:
test_X.to_csv('test.csv',index=0)